table.transactionsTable tr[typeforcss="0"] td:nth-child(2) {
    color: #06A806;
}

table.transactionsTable tr[typeforcss="1"] td:nth-child(2) {
    color: #BA0C2E;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black;
}

input {
    border-color: #E1E1E1;
    border-style: solid;
    border-radius: 0.25rem;
    margin-top: 10px;
}

input[type = "submit"] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

input[type = "number"] {
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
}