table.feedbackTable tr[typeforcss="0"] td:nth-child(2) {
    color: #06A806;
}

table.feedbackTable tr[typeforcss="0"] td:nth-child(4) {
    color: #06A806;
}

table.feedbackTable tr[typeforcss="1"] td:nth-child(2) {
    color: #BA0C2E;
}

table.feedbackTable tr[typeforcss="1"] td:nth-child(4) {
    color: #BA0C2E;
}
